# Actividad 2_9: 

Vamos a hacer un trabajo en grupos. Dividiros en grupos de 2 o 3 personas (organizaros el trabajo para que se pueda hacer en paralelo). Debéis responder a la siguiente pregunta. ¿Existe relación entre la emisión de CO2 que tienen los países y su esperanza de vida? Para ello os sugiero lo siguiente:


1. Podéis buscar los datasets necesarios en el portal Kaggle.
2. Una vez encontrados hay que importar los datos y tratarlos con el objetivo de solucionar la pregunta realizada.
3. Puedes normalizar, pintar gráficas, buscar índices calculados en base a los datos, etc.
4. También puedes utilizar la matriz de correlación. La veremos con detalle más adelante, pero aquí tienes como usarla en Pandas: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html

In [ ]:
# Código
import pandas as pd
df_graphs = pd.read_csv("gapminder_data_graphs.csv")
yearList = []


df_filtered_grapsh = pd.DataFrame("year")

,country,continent,year,life_exp,hdi_index,co2_consump,gdp,services
0,Afghanistan,Asia,1998,53.3,0.344,0.0522,NaN,24.4
1,Afghanistan,Asia,1999,54.7,0.348,0.0402,NaN,24.6
2,Afghanistan,Asia,2000,54.7,0.350,0.0370,NaN,24.7
3,Afghanistan,Asia,2001,54.8,0.353,0.0376,NaN,24.7
4,Afghanistan,Asia,2002,55.5,0.384,0.0471,333.0,25.6